/* You can add global styles to this file, and also import other style files */
body {
  background-color: #2b2b2b;
  color: #d6d6d6;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  padding: 3% 20%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  background-color: #171717;
  color: #d6d6d6;
  height: 3vh;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
}

button:hover {
  background-color: #2b2b2b;
  color: #f6f6f6;
}

.todo {
  color: red;
}

.mainPanel {
  margin-top: 2%;
  padding: 2% 5%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #3f3f3f;
}

.mainPanel::-webkit-scrollbar {
  width: 12px;
}

.mainPanel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.mainPanel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
}

.phrase {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.phrase p {
  margin: 1%;
}

hr {
  width: 100%;
  border: 1px solid #343434;
}
