<div id="phrasesComponent">
  <div id="currentUnit">
    <h3>Unit {{currentUnit}}</h3>
  </div>

  <div id="topPanel" class="flexContainer">
    <div id="buttonPanel">
      <button [routerLink]="['/settings']" routerLinkActive="active">Take Quiz</button>
    </div>

    <div id="searchPanel">
      <label for="searchField">Search:</label>
      <input id="searchField" type="text"/>
    </div>
  </div>

  <div id="phrases">
    <div class="phrase" *ngFor="let phrase of currentPhrases">
      <p class="left">{{phrase.english}}</p>
      <p class="right">{{phrase.transliteration}}</p>
    </div>
  </div>

  <div id="navBar" class="flexContainer">
    <div (click)="decrementUnit()" class="navButton noSelect"><p>Previous</p></div>
    <div (click)="incrementUnit()" class="navButton noSelect"><p>Next</p></div>
  </div>

</div>
