#phrasesComponent {
  grid-template-columns: 30% 70%;
  text-align: left;
}

#currentUnit {
  text-align: center;
}

.flexContainer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#buttonPanel {
  text-align: left;
  flex-basis: 20%;
}

.quizButton {
  width: 100%;
}

#searchPanel {
  text-align: right;
  flex-basis: 70%;
}

#searchPanel input {
  width:60%;
}

#phrases {
  height: 60vh;
  overflow-y: scroll;
}

#navBar {
  margin-top: 10px;
}

.navButton {
  flex-basis: 20%;
}
