#phrasesComponent {
  grid-template-columns: 30% 70%;
  text-align: left;
}

#currentUnit {
  text-align: center;
}

.flexContainer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#buttonPanel {
  text-align: left;
  flex-basis: 20%;
}

#searchPanel {
  text-align: right;
  flex-basis: 70%;
}

#searchPanel input {
  width:60%;
}

#phrases {
  margin-top: 2%;
  padding: 0 10%;
  border: 1px solid black;
  overflow-y: scroll;
  height: 60vh;
}

.phrase {
  display: flex;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

#navBar {
  margin-top: 10px;
}

.navButton {
  flex-basis: 20%;
  background-color: #171717;
  border-radius: 20px;
  user-select: none;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* supported by Chrome and Opera */
}
