<div id="phrasesComponent">

  <div id="topPanel" class="flexContainer">
    <div id="buttonPanel">
      <button [routerLink]="['/settings']" routerLinkActive="active" class="quizButton">Take Quiz</button>
    </div>

    <div id="searchPanel">
      <label for="searchField">Search:</label>
      <input id="searchField" type="text" (keyup)="search($event)"/>
    </div>
  </div>

  <div id="phrases">
    <div class="phrase" *ngFor="let phrase of currentPhrases">
      <p>{{phrase.transliteration}}</p>
      <p>{{phrase.english}}</p>
      <hr>
    </div>
  </div>

  <div id="navBar" class="flexContainer">
    <button (click)="decrementUnit()" class="navButton">Previous</button>
    <button (click)="incrementUnit()" class="navButton">Next</button>
  </div>

</div>
