#quiz {
  height: 50vh;
  display: flex;
  flex-direction: column;
}

#stats {
  display: flex;
  flex-direction: column;
  text-align: right;
  flex-basis: 35%;
}

#phrase {
  padding-top: 5%;
  height: 25%;
  flex-basis: 40%;
}

#inputContainer {
  display: flex;
  justify-content: space-evenly;
}

input[type=text] {
  text-align: center;
  width: 85%;
}

#buttonPanel {
  padding: 2vh;
  display: flex;
  justify-content: space-evenly;
}

button {
  flex-basis: 20%;
}

p {
  margin: 5px;
}

@media(max-width: 500px) {
  h2 {
    font-size: 1em;
  }
}
